<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="WebSocketKraken" verbose="1" >
    <test name="PublicWebSocketTest" >
        <classes>
            <class name="com.kraken.websockets.tests.PublicWebSocketTest" />
        </classes>
    </test>
</suite>